
.container {
  display: flex;
  border: 2px dotted black;
<<<<<<< HEAD
  width: 470px;
  justify-content: space-between;
=======
  width: fit-content;
>>>>>>> b292638f9fdbf36f78f72378b8e879d18bd0a8e0
}



.one ,.three ,.four {
  background-color: red;
  width: 100px;
  height: 100px;
  border: 1px dotted black;
  color: black;
  padding: 5px;
}

.tow {
  background-color: green;
<<<<<<< HEAD
  position: static;
=======
  position: static; /* الوضع الطبيعي */
>>>>>>> b292638f9fdbf36f78f72378b8e879d18bd0a8e0
  width: 100px;
  height: 100px;
  border: 1px dotted black;
  color: black;
  padding: 5px;
<<<<<<< HEAD
}

.tow2 {
  background-color: green;
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px dotted black;
  color: black;
  padding: 5px;
  top: 20px;
  left: 20px;
}

.tow3 {
  background-color: green;
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px dotted black;
  color: black;
  padding: 5px;
  top: 20px;
  right: 15px;
}

.a{
  
  position: relative;
=======
>>>>>>> b292638f9fdbf36f78f72378b8e879d18bd0a8e0
}