
.container {
  display: flex;
  border: 2px dotted black;
  width: fit-content;
}



.one ,.three ,.four {
  background-color: red;
  width: 100px;
  height: 100px;
  border: 1px dotted black;
  color: black;
  padding: 5px;
}

.tow {
  background-color: green;
  position: static; /* الوضع الطبيعي */
  width: 100px;
  height: 100px;
  border: 1px dotted black;
  color: black;
  padding: 5px;
}